.quoteform {
    .progress-circle {
        background-color: #00A0E3 !important;
        border-color: #00A0E3 !important;
        color: #fff !important;
        width: 30px;
        height: 30px;
        font-size: 0.8rem;
        z-index: 99;
        text-decoration: none;
    }

    .progress-circle.collapsed {
        background-color: #fff !important;
        border-color: #676b75 !important;
        color: #676b75 !important;
    }

    .progress-text {
      font-size: 0.7rem;
      color: #000;
    }

    .progress-text.collapsed {
      color: #676b75;
    }

    .small-text {
      font-size: 0.6rem;
    }

    .providedby {
        color: #00A0E3  !important;
      font-size: 0.8rem;
    }

    .side-link {
        text-decoration: none;
        color: #000;
    }

    .progress-grid {
        position: relative;
    }

    .progress-grid::after {
        border-bottom: 1px solid #676b75;
        width: 50%;
        position: absolute;
        content: "";
        right: 0px;
        top: 15px;
    }

    .progress-grid::before {
        border-bottom: 1px solid #676b75;
        width: 50%;
        position: absolute;
        content: "";
        left: 0px;
        top: 15px;
    }

    .progress-grid:first-of-type::before {
      display: none;
    }

    .progress-grid:last-of-type::after {
      display:none;
    }

    .container-form-border {
        border-top: 5px solid #2ca1d8;
        border-bottom: 5px solid #2ca1d8;
    }

    #gform_submit_button_4 {
        border-radius: 50rem;
        padding: .575rem 1.5rem;
        transition: all .3s ease;
        box-shadow: rgba(0, 0, 0, .16) 0 3px 6px, rgba(0, 0, 0, .23) 0 3px 6px;
        color: #fff;
        background: #00A0E3;
        min-width: 120px;
        border: none;
        font-size: 0.8rem;
    }
}