// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


$primary: #1a5093;  // Once we've changed the value, we'll also make it the primary brand color.
$lightblue: #a3b8d4;
$grey: #676b75;

$health: #2CA1D8;
$travel: #d73671;
$life: #fbb14a;
$income: #65af43;

$select_product: #eca934;
$primary_product: #1aa1e0;
$primary_plus_product: #617a85;


$grey-100: #f8fafb;
$dot-green: #1cb87a;